# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtualenv
Lib/
Scripts/
Include/
share/
pyvenv.cfg
venv/
env/
.venv/
.env/

# Database
muquirano.db
*.sqlite3
*.db

# OS-specific files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.stackdump

# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes

# Linux
*~
.#*

# IDE / Editor specific
.vscode/
.idea/
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Jupyter Notebook
.ipynb_checkpoints

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Coverage reports
.coverage
.coverage.*
coverage.xml
nosetests.xml
pytestdebug.log

# Other
*.tmp
*.bak
*.patch
*.diff
*.pid
*.pid.lock
*.seed
*.out
*.swo
*.swn
